<h2>Listing lectures</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= link_to lecture.name, lecture %></td>
        <td><%= lecture.created_at.strftime("%m/%d/%y") %></td>
        <% if !current_user.student %>
          <td><%= link_to image_tag("edit.png"), edit_lecture_path(lecture), 
          class: "icon" %></td>
          <td><%= link_to image_tag("delete.png"), lecture, method: :delete, 
          data: { confirm: 'Are you sure?' }, class: "icon" %></td>
        <% end %>
        <td>
          <% if lecture.current %>
            <% if !current_user.student && lecture.users.include?(current_user) %>
              <%= link_to "End", end_lecture_path(lecture), method: :patch %>
            <% elsif !lecture.users.include?(current_user) %>
              <%= link_to "Join", join_lecture_path(lecture), method: :post, class: "btn" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !current_user.student && (Lecture.last.nil? || !Lecture.last.current) %>
   <%= link_to "Start New Lecture", lectures_path, method: :post, class: "btn" %>
<% end %>
