<div class="all-posts" style="<%= "height = 650px;" unless @lecture.current %>">
		<% @posts = Post.where(lecture: @lecture) %>
		<% @posts.reverse.each do |p| %>
			<% @current_flags = current_user.flags.where(post_id: p) %>
			<%= render p unless @current_flags.present? %>
		<% end %>
</div>

<% if @lecture.current %>
	<div class="form">
		<%= render partial: 'posts/form', locals: {lecture_id: @lecture.id} %>
	</div>
<% else %>
	Lecture has ended. No peanut-throwing.
<% end %>
<br>
<br>
<br>
<% if @lecture.current %>
	<% if current_user.student %>
		<%= link_to image_tag("button.png", size: "200x200" ,title: "Keep Calm and Carry On"), confusion_lecture_path(Lecture.last), method: :put, remote: true %>
	<% else %>
		<div class="panic-button"></div>
	<% end %>
<% end %>

<%= subscribe_to "/posts/new" %>
<% if !current_user.student %>
	<%= subscribe_to "/confusions/new" %>
<% end %>