<div class="all-posts" style="<%= "height = 650px;" unless @lecture.current %>">
	<ul>
		<% @posts = Post.where(lecture: @lecture) %>
		<% @posts.reverse.each do |p| %>
			<% @current_flags = current_user.flags.where(post_id: p) %>
			<%= render p unless @current_flags.present? %>
		<% end %>
	</ul>
</div>

<% if @lecture.current %>
	<div class="form">
		<%= render partial: 'posts/form', locals: {lecture_id: @lecture.id} %>
	</div>
<% end %>

<div class="button">
	<% if !Lecture.last.nil? && Lecture.last.current %>
		<%= link_to image_tag("button.png", :title => "Keep Calm and Carry On"), confusion_lecture_path(Lecture.last), method: :put %>
	<% else %>
		"No lecture started"
	<% end %>
</div>

<%= subscribe_to "/posts/new" %>