<% if @lecture.current %>
	<% if current_user.student %>
	<div class="keep-calm">
		<%= link_to image_tag("button.png", size: "150x150" ,title: "Keep Calm and Carry On"), confusion_lecture_path(Lecture.last), method: :put, remote: true, class: "button" %>
	</div>
	<% else %>
		<div class="panic-button"></div>
	<% end %>
<% end %>

<div class="all-posts" style="<%= "height = 650px;" unless @lecture.current %>">
		<% @posts = Post.where(lecture: @lecture) %>
		<% @posts.reverse.each do |p| %>
			<% @current_flags = current_user.flags.where(post_id: p) %>
			<%= render p unless @current_flags.present? %>
		<% end %>
</div>

<% if @lecture.current %>
	<div class="form">
		<%= render partial: 'posts/form', locals: {lecture_id: @lecture.id} %>
	</div>
<% else %>
	<div class="no-peanuts" >
		<%= "Lecture has ended. No peanut-throwing." %>
	</div>
<% end %>



<%= subscribe_to "/posts/new" %>

<% if !current_user.student %>
	<%= subscribe_to "/confusions/new" %>
<% end %>