<% @current_vote = current_user.votes.where(comment_id: comment.id) %>

<div class="writing" id="<%= dom_id(comment) %>">
	<div class="left-col">
	  <div class="upvote">
	  	<% if @current_vote.present? %>
		  	<%= link_to image_tag("unvote.png", :title => "Unvote"), unvote_comment_path(comment), 
		  	method: :delete, remote: true, class: "icon" %>
		  <% else %>
			  <%= link_to image_tag("vote.png", :title => "Vote"), upvote_comment_path(comment), method: :put, remote: true, class: "icon" %>
			<% end %>
	  </div>
		<div class="net_val"><%= comment.votes.length %></div>
	</div>
	<div class="right-col">
		<div class="content"><%= comment.content %></div>
		<div class="byline">
			<% if !comment.user.student %>
				<%= "Written by Professor #{comment.user.last_name}" %>
			<% elsif comment.name %>
				<%= "Written by #{comment.user.full_name}" %>
			<% else %>
				<%= "Written anonymously" %>
			<% end %>
		</div>
		<div class="footer">
			<% if current_user.id == comment.user_id %>
				<%= link_to image_tag("edit.png", :title => "Edit"), edit_comment_path(comment), class: 'icon' %>  
				<%= link_to image_tag("delete.png", :title => "Delete"), comment, method: :delete,
				 data: { confirm: 'Are you sure?' }, class: 'icon' %>
			<% elsif !current_user.student %>
				<%= link_to image_tag("delete.png", :title => "Delete"), post, method: :delete,
				 data: { confirm: 'Are you sure?' }, class: 'icon' %>
			<% else %>
			  <%= link_to image_tag("flag.png", :title => "Flag"), flag_comment_path(comment), method: :put, class: 'icon' %>
			<% end %>
		</div>
	</div>
</div>