<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @flag.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @flag.post %>
</p>

<%= link_to 'Edit', edit_flag_path(@flag) %> |
<%= link_to 'Back', flags_path %>
