<div class="all-posts">
	<ul>
		<% @posts = Post.all %>
		<% @posts.reverse.each do |p| %>
			<% @current_flags = current_user.flags.where(post_id: p) %>
			<%= render p unless @current_flags.present? %>
		<% end %>
	</ul>
</div>

<div class="form">
	<% @post = Post.new %>
	<%= render 'form' %>
</div>

<div class="button">
	<% if !Lecture.last.nil? && Lecture.last.current %>
		<%= link_to image_tag("button.png", :title => "Keep Calm and Carry On"), confusions_path, method: :post %>
	<% else %>
		"No lecture started"
	<% end %>
</div>

<div class="confusion-meter">
	<% @confusion = Confusion.new %>
	<ul><%= render @confusion %></ul>
</div>


<%= subscribe_to "/posts/new" %>
<%#= subscribe_to "/confusions/new" %>