<p id="notice"><%= notice %></p>

<div class= "post-show">
	<h2 class="title"><%= @post.content %></h2>
	<% if current_user.id == @post.user_id %>
		<%= link_to image_tag("edit.png", :title => "Edit"), edit_post_path(@post), class: "icon" %>
	<% end %>
	<%= link_to image_tag("back.png", :title => "Back"), :back, class: "icon" %>
	<em class="byline"><%= @post.name ? @post.user.full_name : "Anonymous" %></em>
	<%= render '/comments/form' %>
	<div class="all-comments">
		<% Comment.where(post_id: @post.id).reverse.each do |c| %>
			<% @current_flags = current_user.flags.where(comment_id: c) %>
			<%= render c unless @current_flags.present? %>
		<% end %>
	</div>
</div>
