<!DOCTYPE html>
<html>
<head>
  <title>Project 2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user(false) %>
	<div class = "navbar navbar-fixed-top">
    <div class = "navbar-inner" >
      <div class = "container" >
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class = "logo" href="/lectures">pNut</a>
            <ul class = "nav">
              <li><%= link_to "Lectures", lectures_path%></li>
              <li><%= link_to "You", user_path(current_user) %>
              <li><%= link_to "Logout", log_out_path %></li>
            </ul>
      </div>
    </div>
  </div>
  <% end %>
<%= yield %>

</body>
</html>
