<!DOCTYPE html>
<html>
<head>
  <title>Project 2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "navbar navbar-fixed-top">
    <div class = "navbar-inner" >
      <div class = "container" >
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class = "logo">pNut</a>
            <ul class = "nav">
              <li><%= link_to "Question", posts_path%></li>
              <li><%= link_to "#{current_user.first_name}", user_path(current_user) %></li>
              <li><%= link_to "Logout", log_out_path %></li>
            </ul>
      </div>
    </div>
  </div>
  <% if current_user(false) %>
    <% if !current_user.student %>
      <% @lecture = Lecture.where(user_id: current_user.id).last %>
      <% if @lecture.nil? || !@lecture.current %>
        <%= link_to "Start Lecture", lectures_path, method: :post, class: "btn" %>
      <% else %>
        <%= link_to "End Lecture", lecture_path(@lecture), method: :patch, class: "btn" %>
      <% end %>
    <% end %>
  <% end %>
<%= yield %>

</body>
</html>
