<!DOCTYPE html>
<html>
<head>
  <title>Project 2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<div>pNut</div>
	<% if current_user(false) %>
    	<div id="user_info">Hello, <%= current_user.first_name %> <%= link_to "Logout", log_out_path %></div>
  <% end %>
</div>
<%= yield %>

</body>
</html>
